<div class="container">
    <div class="row">
        <div class="col">
            <h3>Fecha Inicio de Digitación </h3>
            <input type="date" id="" name="">
        </div>
        <div class="col">
            <h3>Fecha de Atención Paciente </h3>
            <input type="date" id="" name="">
        </div>
        <div class="col">
            <h3>Fecha/Hora fin de Digitación </h3>
            <input type="date" id="" name="">
        </div>

    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <label></label>
            <mat-label>Notas</mat-label>
            <mat-select>
              <mat-option value="one">Nota de Ingreso</mat-option>
              <mat-option value="two">Nota de Egreso</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
</div>
