<div class="content">
    <h1 class="title">Datos Generales del Paciente</h1>
    
    <p>
        <mat-toolbar>
          <b><span>Nombre: </span></b>&nbsp;&nbsp;
          <span>Nombre y Apellido </span>
        </mat-toolbar>
        <mat-toolbar>
            <b><span>Sexo: </span></b>&nbsp;&nbsp;
            <span>Masculino </span>
          </mat-toolbar>
          <mat-toolbar>
            <b><span>Edad: </span></b>&nbsp;&nbsp;
            <span>22 </span>
          </mat-toolbar>
    </p>